.projects {

    &__inner {
        padding: 66px 0 75px 0;
        min-width: 100%;
    }

    &__row {
        justify-content: space-between;
        align-items: center;
    }

    &__link {
        // text-transform: uppercase;
        text-decoration: underline;
        font-size: 20px;
    }

    &__slider {
        margin-top: 40px;
    }
}
