.slider-work {
    position: relative;
    &__slide {
        display: flex;
        justify-content: space-between;
        @media (max-width: 759px) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__row {
        flex-direction: column;
    }

    &__name {
        color: $main-color;
        font-size: 20px;
        font-weight: 500;
        align-self: flex-start;
    }

    &__desc {
        width: 500px;
        font-size: 18px;
        padding-bottom: 15px;
        margin: 22px 0;
        @media (max-width: 989px) {
            padding-right: 15px;
            width: 100%;
        }
    }
    &__link {
        text-decoration: underline;
    }

    &__img {
        max-width: 425px;
        max-height: 250px;
        @media (max-width: 450px) {
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__arrows {
        position: absolute;
        z-index: 999;
        bottom: 0;
        width: 100px;
        display: flex;
        justify-content: space-between;
        &-prev, &-next {
            cursor: pointer;
            transition: opacity .2s;
            fill: $main-color;
            &:hover {
                opacity: .7;
            }
        }
        @media (max-width: 700px) {
            left: 50%;
            width: 100%;
            transform: translateX(-50%);
            bottom: 10px;
        }
        @media (max-width: 520px) {
            left: 0%;
            width: 100px;
            position: relative;
            transform: translateX(0%);
            bottom: -15px;
        }
    }
}

