.input {
    border: none;
    background: transparent;
    border-radius: 3px;
    padding: 8px 5px;
    border: 1px solid $main-color;
    outline-color: $main-color;
    &_line {
        outline: none;
        padding: 6px 1px;
        border: none;
        border-bottom: 1px solid $main-color;
        transition: .2s;
        &:focus {
            transform: translateY(-2px);
        }
    }
}